.mess {
    color: #d63384;
    font-size: 18px;
}

.form-label2 {
    margin-top: 20px !important;
    margin-right: 20px !important;
}

.error-input1 {
    margin-top: -10px !important;
    color: #a2125a !important;
    font-size: 12px;
    margin-bottom: 0px !important;
}

.number-circle {
    border-radius: 50%;
    padding-right: 3px;
    font-size: 10px;
    padding-left: 3px;
    position: absolute;
    margin-top: -20px;
    margin-left: 15px;
    background-color: rgb(255 52 0);
    border: solid 1px rgb(255, 255, 255);
}

.page-item .page-link,
.page-item span :hover {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255 52 0);
    padding: 0;
    margin: 0 3px;
    border-radius: 50% !important;
    width: 36px;
    height: 36px;
    font-size: 0.875rem;
}

.page-link.active,
.active>.page-link {
    z-index: 3;
    color: rgb(255, 255, 255);
    background-color: var(--bs-pagination-active-bg);
    border-color: var(--bs-pagination-active-border-color);
}